.arrow {
    width: 30px;
    height: 30px;
}

.active{
    color: rgb(179, 14, 14);
}

.sortLabel:hover{
    cursor: pointer;
}

.sortLabel{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}