.icon{
    width: 90px;
    height: 90px;
    margin: 0 170px;
}

.modalTitle{
    text-align: center;
    color: rgb(92, 92, 92);
    margin: 0 40px;
}

.confirmModal{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.modalBtn{
    margin-left: 10px;
}